.mat-sidenav-container {
  background: rgba(0, 0, 0, 0.08);
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-form {
  max-height: 60px;
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}